    ul {
      list-style: none; /*убираем маркеры списка*/
      margin: 0; /*убираем отступы*/
      padding-left: 0; /*убираем отступы*/
      margin-top: 8px; /*делаем отступ сверху*/
      background:#E0FFFF; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
      height: 50px; /*задаем высоту*/
    }
    .menu {
      text-decoration: none; /*убираем подчеркивание текста ссылок*/
      background:#E0FFFF; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
      color:#000000; /*меняем цвет ссылок*/
      padding:0px 15px; /*добавляем отступ*/
      font-family: arial; /*меняем шрифт*/
      line-height:50px; /*ровняем меню по вертикали*/
      display: block;
      border-right: 1px solid #000080; /*добавляем бордюр справа*/
      -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
      -o-transition: all 0.3s 0.01s ease;
      -webkit-transition: all 0.3s 0.01s ease;
    }
    .menu:hover {
      background:#B0C4DE;/*добавляем эффект при наведении*/
    }
    li {
      float:left; /*Размещаем список горизонтально для реализации меню*/
    }

    table{
        margin: 20px 0px 0px 0px;
    }

    a {text-decoration: none; color: #708090; font-weight: bolder; font-size: 18px;}
a:hover {text-decoration: none; color: #2F4F4F;}