body{
 font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 2px solid black; */
  grid-column-gap: 200px;
  padding: 0px 40px 0px 40px;


}

.field {
    clear:both;
    text-align:right;
    line-height:40px;
           }

label {
float:left;
padding-right:10px;
}

.main {float:left}

table {
    width: 100%; /* Ширина таблицы */
    border-bottom: 2px solid #bfbaba; /* Линия внизу таблицы */
    /*  background: #fffacd; /* Цвет фона таблицы */
   }
   th {
    background: #a8a6a6; /* Цвет фона заголовка */
    color: white; /* Цвет текста */
    text-align: center;
   }

  td, th {
    padding: 8px; /* Поля вокруг текста */
    border-bottom: 2px solid #bfbaba;
    text-align: center;
   }

   a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #696969;
   }

 a:hover {

    color: #3a3535;
   }




/* temp */

/* Отступ контакты в карточке компании */
.contact_company{
margin: 40px;
}


.border{
border: 1px solid #D2D1D1;
box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}

/* menu */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #3b3b3b;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #3b3b3b;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}





