<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Title</title>
</head>
<body>
    <ul class="menu-main">
    <li><a class=menu href="{{url_for('card')}}" class="current">Главная</a></li>
    <li><a class=menu href="{{url_for('card')}}">Клиенты</a></li>
    <li><a class=menu href="#">Контакты</a></li>
    <li><a class=menu href="{{url_for('add_company')}}">Добавить компанию</a></li>
    </ul>

          {% block content %}
          {% endblock %}



</body>
</html>