{% extends 'base.html'%}

{% block content %}
<div class="company_card">

    <p><h5>Карточка компании: {{ detail.name }} </h5></p>
    <p>УНП Компании: {{ detail.ynp }}</p>
    <p>Коментарии: {{ detail.comment }}</p>
    <p>Email: {{ detail.email }}</p>
    <p>Банк счет: {{ detail.bank_account }}</p>
    <p>Создано: {{ detail.created }}</p>
    <p>Страна:   {{ detail.country }}</p>

</div>
<div class="wrapper">
    <p class="description">Контактные лица</p>
{% for contact in contact %}
    <div class="company_card">
        <p><h5>Карточка клиента: {{ contact.name }}</h5></p>
        <p> id-----------{{ contact.company_id }}</p>
        <p>{{ contact.comment }}</p>
        <p>{{ contact.email }}</p>
        <p>{{ contact.position }}</p>
    </div>
{% endfor %}
</div>

{% endblock%}
