{% extends 'base.html'%}

{% block content %}
<div class="company_card">

    <p><h5>Карточка компании: {{ detail.name }} </h5></p>
    <p>УНП Компании: {{ detail.ynp }}</p>
    <p>Коментарии: {{ detail.comment }}</p>
    <p>Email: {{ detail.email }}</p>
    <p>Банк счет: {{ detail.bank_account }}</p>
    <p>Создано: {{ detail.created }}</p>
    <p>Страна:   {{ detail.country }}</p>

</div>
<div class="">
    <p class="description">Контактные лица</p>
    <table class="table table-striped table-bordered border-primary">
        <tr>
            <th>Имя</th>
            <th>Комментарий</th>
            <th>E-mail</th>
            <th>Телефон</th>

       </tr>
        {% for contact in contact %}

            <td>{{ contact.name }}</td><td>{{ contact.comment }}</td><td>{{ contact.email }}</td>
            <td>{{ contact.phone}}</td>
        {% endfor %}
    </table>

</div>

{% endblock%}
