{% extends 'base.html'%}

{% block content %}


<div class="wrapper border">
    <div class="main">
        <p><h3>Карточка компании: {{ detail.name }} </h3></p>
        <p>Основной телефон: {{detail.main_phone}}</p>
        <p>Дополнительный телефон: {{detail.second_phone}}</p>
        <p>Основной email: {{detail.email}}</p>
        <p>Дополнительный email: {{detail.second_email}}</p>
        <p>УНП: {{detail.ynp}}</p>
        <p>Адрес: {{detail.adress}}</p>
    </div>
    <div class="main">
        <p>Рейтинг: {{detail.rating}}</p>
        <p>Web адрес: {{detail.web}}</p>
        <p>Адрес: {{detail.industry}}</p>
        <p>Название банка: {{detail.bank_name}}</p>
        <p>Номер счета: {{detail.bank_account}}</p>
        <p>Страна: {{detail.country}}</p>
        <p>Коментарии: {{ detail.comment }}</p>
    </div>
</div>


<div class="contact_company">

<!--    <p><a href="{{url_for('add_contact')}}">Добавить контакт</a></p>-->
        <form action="{{url_for('add_contact')}}" target="_self">
                <button>Добавить контакт</button>
         </form>
    <table >
        <tr>
            <th>Имя</th>
            <th>Комментарий</th>
            <th>E-mail</th>
            <th>Телефон</th>

       </tr>
        {% for contact in contact %}
            <tr><td>{{ contact.name }}</td>
            <td>{{ contact.comment }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone}}</td>
        {% endfor %}
    </table>

</div>

{% endblock%}
